@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hiding scroll bar */
body{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar{
    display: none;
}

/* active link color */
.navberMenuleft a.active{
    color: limegreen;
}

.navberMenuright a.active{
    color: #428efa;
}